<h2><%= t('.title') %></h2>

<div class="row">
<% @cards.each do |card| %>
  <div class="col-md-6">
    <%= render partial: 'cards/card', locals: { card: card, show_del_link: true } %>
  </div>
<% end %>
</div>