<h2><%= t('.title') %></h2>

<div class="row">
<% @decks.each do |deck| %>
  <div class="col-md-6">
    <%= render partial: 'dashboard/decks/deck', locals: { deck: deck, show_del_link: true } %>
  </div>
<% end %>
</div>